{% extends "basic.html" %}

{% load static %}

{% block title %}
About Page
{% endblock title %}

{% block body %}

    <!-- About Start -->
    <div class="container-xxl py-5">
        <div class="container">s
            <div class="row g-5 align-items-end">
                <div class="col-lg-6">
                    <div class="row g-2">
                        <div class="col-6 position-relative wow fadeIn" data-wow-delay="0.7s">
                            <div class="about-experience bg-secondary rounded">
                                <h1 class="display-1 mb-0">25</h1>
                                <small class="fs-5 fw-bold">Years Experience</small>
                            </div>
                        </div>
                        <div class="col-6 wow fadeIn" data-wow-delay="0.1s">
                            <img class="img-fluid rounded" src="{% static 'img/service-1.jpg' %}">
                        </div>
                        <div class="col-6 wow fadeIn" data-wow-delay="0.3s">
                            <img class="img-fluid rounded" src="{% static 'img/service-2.jpg' %}">
                        </div>
                        <div class="col-6 wow fadeIn" data-wow-delay="0.5s">
                            <img class="img-fluid rounded" src="{% static 'img/service-3.jpg' %}">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                    <p class="section-title bg-white text-start text-primary pe-3">About Us</p>
                    <h1 class="mb-4">Know About Our Dairy Farm & Our History</h1>
                    <p class="mb-4">We have been doing this work for 25 years, till date we have not received any complaint from any customer or people are also joining us, can you also join us because we have sold the best dairy product.
                    </p>
                    <div class="row g-5 pt-2 mb-5">
                        <div class="col-sm-6">
                            <img class="img-fluid mb-4" src="{% static 'img/service.png' %}" alt="">
                            <h5 class="mb-3">Dedicated Services</h5>
                            <span>A service that is not shared by other organizations or dairy farm</span>
                        </div>
                        <div class="col-sm-6">
                            <img class="img-fluid mb-4" src="{% static 'img/product.png' %}" alt="">
                            <h5 class="mb-3">Organic Products</h5>
                            <span>We provide Pure and Organic Products</span>
                        </div>
                    </div>
                    <a class="btn btn-secondary rounded-pill py-3 px-5" href="/product">Explore More</a>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->

        <!-- Features Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                        <p class="section-title bg-white text-start text-primary pe-3">Why Us!</p>
                        <h1 class="mb-4">Few Reasons Why People Choosing Us!</h1>
                        <p class="mb-4">There are many reasons why people choosing us but we descuss on few.</p>
                        <p><i class="fa fa-check text-primary me-3"></i>Pure,Fresh and Organic Products.</p>
                        <p><i class="fa fa-check text-primary me-3"></i>On time deliver.</p>
                        <p><i class="fa fa-check text-primary me-3"></i>We have best breed animal.</p>
                        <a class="btn btn-secondary rounded-pill py-3 px-5 mt-3" href="/service">Explore More</a>
                    </div>
                    <div class="col-lg-6">
                        <div class="rounded overflow-hidden">
                            <div class="row g-0">
                                <div class="col-sm-6 wow fadeIn" data-wow-delay="0.1s">
                                    <div class="text-center bg-primary py-5 px-4">
                                        <img class="img-fluid mb-4" src="{% static 'img/experience.png' %}" alt="">
                                        <h1 class="display-6 text-white" data-toggle="counter-up">25</h1>
                                        <span class="fs-5 fw-semi-bold text-secondary">Years Experience</span>
                                    </div>
                                </div>
                                <div class="col-sm-6 wow fadeIn" data-wow-delay="0.3s">
                                    <div class="text-center bg-secondary py-5 px-4">
                                        <img class="img-fluid mb-4" src="{% static 'img/award.png' %}" alt="">
                                        <h1 class="display-6" data-toggle="counter-up">183</h1>
                                        <span class="fs-5 fw-semi-bold text-primary">Award Winning</span>
                                    </div>
                                </div>
                                <div class="col-sm-6 wow fadeIn" data-wow-delay="0.5s">
                                    <div class="text-center bg-secondary py-5 px-4">
                                        <img class="img-fluid mb-4" src="{% static 'img/animal.png' %}" alt="">
                                        <h1 class="display-6" data-toggle="counter-up">2619</h1>
                                        <span class="fs-5 fw-semi-bold text-primary">Total Animals</span>
                                    </div>
                                </div>
                                <div class="col-sm-6 wow fadeIn" data-wow-delay="0.7s">
                                    <div class="text-center bg-primary py-5 px-4">
                                        <img class="img-fluid mb-4" src="{% static 'img/client.png' %}" alt="">
                                        <h1 class="display-6 text-white" data-toggle="counter-up">51940</h1>
                                        <span class="fs-5 fw-semi-bold text-secondary">Happy Clients</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Features End -->
    
    
        <!-- Banner Start -->
        <div class="container-fluid banner my-5 py-5" data-parallax="scroll" data-image-src="{% static 'img/banner.jpg' %}">
            <div class="container py-5">
                <div class="row g-5">
                    <div class="col-lg-6 wow fadeIn" data-wow-delay="0.3s">
                        <div class="row g-4 align-items-center">
                            <div class="col-sm-4">
                                <img class="img-fluid rounded" src="{% static 'img/banner-1.jpg' %}" alt="">
                            </div>
                            <div class="col-sm-8">
                                <h2 class="text-white mb-3">We Sell Best Dairy Products</h2>
                                <p class="text-white mb-4">We have best dairy product and our products are fresh and Pure.</p>
                                <a class="btn btn-secondary rounded-pill py-2 px-4" href="/product">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                        <div class="row g-4 align-items-center">
                            <div class="col-sm-4">
                                <img class="img-fluid rounded" src="{% static 'img/banner-2.jpg' %}" alt="">
                            </div>
                            <div class="col-sm-8">
                                <h2 class="text-white mb-3">We Deliver Fresh Milk All over Indore</h2>
                                <p class="text-white mb-4">We </p>
                                <a class="btn btn-secondary rounded-pill py-2 px-4" href="/contact">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Banner End -->
    

{% endblock body %}